Source: plist
Section: mail
Priority: extra
Maintainer: Pali Rohár <pali.rohar@gmail.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.2

Package: plist
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python:Depends}, ${perl:Depends},
 libcgi-session-perl, libcgi-simple-perl, libdbd-mysql-perl, libdbd-sqlite3-perl,
 libdbi-perl, libemail-mime-perl, libencode-detect-perl, libfile-mimeinfo-perl,
 libhtml-fromtext-perl, libhtml-parser-perl, libhtml-strip-perl,
 libhtml-template-perl, libnumber-bytes-human-perl, libtimedate-perl, perl,
Description: software for archiving and formatting emails from mailing lists
 PList is written in Perl and it is developed as replacement for Pipermail,
 Hypermail or MHonArc. It provides terminal application for manipulating with
 email archives and also provides web based CGI application for browsing emails
 via internet browser.
 .
 Features:
  * reading archives in mboxo, mboxrd, mboxcl, mboxcl2 variants of MBox format
  * reading emails in RFC2822 and MIME formats
  * incremental imports of MBox archives
  * auto pregenerating HTML pages for emails
  * support for HTML templates
  * support for email attachments
  * auto detection of charset encoding and mime type of badly formatted MIME
    parts
  * stable implementation without randomness
  * interpreting broken emails and those which violate standards in the best
    possible way
  * browse emails by years, months or dates
  * flat and tree based view of email list
  * sophisticated (and stable) algorithm for grouping emails into threads and
    subsequently building email trees for these threads
    - support for building threads across more months and years
    - using Message-Id, In-Reply-To, References headers and option also for
      matching by similar subjects
    - deals with incomplete threads when some emails from In-Reply-To or
      References headers are missing
    - rationally build tree from email thread (=transitive closure of directly
      acyclic graph)
    - deals with possible cycles, inconsistencies or flaws in email threads
