<a href="../../search/?type=from&name=<TMPL_VAR ESCAPE=URL NAME=NAMEURL>"><TMPL_VAR ESCAPE=HTML NAME=NAME></a> <a href="../../search/?type=from&email=<TMPL_VAR ESCAPE=URL NAME=EMAILURL>">&lt;<TMPL_VAR ESCAPE=HTML NAME=EMAIL>&gt;</a>
