<!DOCTYPE html
	PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
	 "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
<TMPL_INCLUDE NAME="style.tmpl"></style>
<TMPL_IF NAME=TITLE><title><TMPL_VAR ESCAPE=HTML NAME=TITLE></title>
</TMPL_IF></head>
<body>
<TMPL_UNLESS NAME=NOHEAD><h2><TMPL_VAR ESCAPE=HTML NAME=TITLE></h2>
</TMPL_UNLESS><TMPL_IF NAME=BODY><TMPL_VAR NAME=BODY></TMPL_IF><p>
<TMPL_IF NAME=NEXTURL><a href="<TMPL_VAR NAME=NEXTURL>">Show next page</a><TMPL_IF NAME=PREVURL><br></TMPL_IF>
</TMPL_IF><TMPL_IF NAME=PREVURL><a href="<TMPL_VAR NAME=PREVURL>">Show previous page</a>
</TMPL_IF></p>
<p><TMPL_IF NAME=ARCHIVEURL>
<a href="<TMPL_VAR NAME=ARCHIVEURL>">Show archive <TMPL_VAR ESCAPE=HTML NAME=ARCHIVE></a><TMPL_IF NAME=LISTURL><br></TMPL_IF>
</TMPL_IF><TMPL_IF NAME=LISTURL><a href="<TMPL_VAR NAME=LISTURL>">Show list of archives</a>
</TMPL_IF></p>
</body>
</html>
