<h2><TMPL_VAR ESCAPE=HTML NAME=TITLE></h2><TMPL_IF NAME=DESCRIPTION>
<p><TMPL_VAR ESCAPE=HTML NAME=DESCRIPTION></p></TMPL_IF>
<h3>Latest emails:</h3>
<TMPL_INCLUDE NAME="emails.tmpl"><h3>Actions:</h3>
<p>
<TMPL_LOOP NAME=ACTIONS><a href="<TMPL_VAR NAME=URL>"><TMPL_VAR ESCAPE=HTML NAME=ACTION></a><TMPL_UNLESS NAME=__last__><br>
</TMPL_UNLESS></TMPL_LOOP>
<form method="get" action="<TMPL_VAR NAME=SEARCHURL>" enctype="application/x-www-form-urlencoded" accept-charset="utf-8">
<input type="text" name="str">
<input type="submit" name="submit" value="Quick Search">
</form>
<br>
<a href="<TMPL_VAR NAME=LISTURL>">Show list of archives</a>
</p>
