<h3>List of archives</h3>
<p>
<TMPL_IF NAME=LIST><TMPL_LOOP NAME=LIST><a href="<TMPL_VAR ESCAPE=URL NAME=URL>"><TMPL_VAR ESCAPE=HTML NAME=DIR></a><TMPL_UNLESS NAME=__last__><br>
</TMPL_UNLESS></TMPL_LOOP><TMPL_ELSE>(No archives)</TMPL_IF>
</p>
