<p>View: <a href="<TMPL_VAR NAME=TREESURL>">Trees</a> <a href="<TMPL_VAR NAME=EMAILSURL>">Emails</a> Roots</p>
<TMPL_INCLUDE NAME="roots.tmpl"><TMPL_IF NAME=NEXTURL><p><a href="<TMPL_VAR NAME=NEXTURL>">Show next page</a></p>
</TMPL_IF><TMPL_IF NAME=PREVURL><p><a href="<TMPL_VAR NAME=PREVURL>">Show previous page</a></p>
</TMPL_IF><TMPL_INCLUDE NAME="footer.tmpl">
