<p>
Search for query:<TMPL_IF NAME=STR> <TMPL_VAR ESCAPE=HTML NAME=STR><TMPL_ELSE><TMPL_IF NAME=SUBJECT><br>
Subject: <TMPL_VAR ESCAPE=HTML NAME=SUBJECT></TMPL_IF><TMPL_IF NAME=TYPE><br>
Header type: <TMPL_VAR ESCAPE=HTML NAME=TYPE></TMPL_IF><TMPL_IF NAME=NAME><br>
Name: <TMPL_VAR ESCAPE=HTML NAME=NAME></TMPL_IF><TMPL_IF NAME=EMAIL><br>
Email: <TMPL_VAR ESCAPE=HTML NAME=EMAIL></TMPL_IF></TMPL_IF>
</p>
<TMPL_INCLUDE NAME="emails.tmpl">
