<style type="text/css">
a {
	text-decoration: none;
}
a:hover {
	background-color: yellow;
}
div.view {
	margin: 5px;
	padding: 5px;
	border: 1px solid;
}
span.plaintext {
	white-space: pre-wrap;
}
span.plaintextmonospace {
	white-space: pre-wrap;
	font-family: monospace;
}
table.browse {
	text-align: left;
}
table.emails {
	table-layout: fixed;
	width: 100%;
	white-space: nowrap;
	border-spacing: 10px 2px;
}
th.emails {
	text-align: left;
}
th.emails, td.emails {
	overflow: hidden;
	text-overflow: ellipsis;
}
span.emails {
	display: inline-block;
}
</style>
