<p>View: Trees <a href="<TMPL_VAR NAME=EMAILSURL>">Emails</a> <a href="<TMPL_VAR NAME=ROOTSURL>">Roots</a></p>
<TMPL_INCLUDE NAME="trees.tmpl"><TMPL_IF NAME=NEXTURL><p><a href="<TMPL_VAR NAME=NEXTURL>">Show next page</a></p>
</TMPL_IF><TMPL_INCLUDE NAME="footer.tmpl">
